---
const { title, srcDesktop, body, labelButton, linkButton } = Astro.props
---

<section class="mpp-banner-v2">
    <img src={srcDesktop} />
    <div class="mpp-banner-v2-body">
        <h1>{title}</h1>
        <div class="mpp-banner-v2-body" set:html={body} />
        <a href={linkButton} class="btn btn-default">{labelButton}</a>
    </div>
</section>

<style lang="scss">
    .mpp-banner-v2 {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);

        & img {
            grid-area: auto / span 2;
            border-radius: 15px;
            width: 100%;
            max-height: 410px;
            object-fit: cover;
        }

        & h1 {
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0 0 1rem;
        }

        & .btn {
            padding: .5em 1em;
            border-radius: 30px;
        }
    }

    .mpp-banner-v2-body {
        margin: 0 0 1em;
    }
</style>