
---
const { title, features } = Astro.props
---

<section class="mpp-features">
    <h2>{title}</h2>
    <div class="mpp-features-wrap">
        <ul class="mpp-features-grid">
            {
                features.map(item => 
                    <li class="mpp-feature-item">
                        <img class="lazy-loaded-image lazy" src={item.src} />
                        <div class="mpp-feature-body">
                            {!item.link && <h3>{item.title}</h3>}
                            {item.link && <h3><a href={item.link}>{item.title}</a></h3>}
                            <p>{item.description}</p>
                        </div>
                    </li>
                )
            }
        </ul>
    </div>
</section>



<style lang="scss">
    .mpp-features {
        position: relative;
		padding: 2em 0;
		h2 {
			font-size: 1.25rem;
			font-weight: 500;
			color: #fff;
			margin: 0 0 .5em;
            font-family: "Montserrat", sans-serif;
            position: relative;
            z-index: 1;
		}
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -4rem;
            height: 100%;
            width: calc(100vw + 4rem);
            z-index: 0;
            background-color: #F8714C;
            @media (min-width: 768px) {
                width: calc(100vw + 50%);
                left: -50%;
                right: 50%;
            }
        }

	}

    .mpp-features-wrap {
        overflow-x: auto;
        position: relative;
        z-index: 1;
    }

    .mpp-features-grid {
        display: flex;
        gap: 2em;
        display: flex;
        flex-flow: row;
        min-width: 100%;
        padding: 1em 0;
    }
    .mpp-feature-item {
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        transition: ease .5s;
        @media (max-width: 992px) {
            min-width: 210px;
            &:last-child {
                margin: 0 2rem 0 0;
            }
        }
        @media (min-width: 992px) {
            flex: 1;
        }
        &:hover {
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
        }
        img {
            object-fit: cover;
            height: 175px;
            width: 100%;
        }
    }
    .mpp-feature-body {
        padding: 0.45em 1em 1em;
        & h3 {
            font-family: "Montserrat";
            font-size: .875rem;
            font-weight: 600;

            & a {
                font-size: inherit;
            }
        }
        a:hover {
            color: inherit;
        }
        & p {
            font-size: .625rem;
            line-height: 1.4;
            margin: 0.6em 0 0 0;
        }
    }
</style>