---
const { mainSliderData, sideBannersData  } = Astro.props;

import Arrow from '../components/icons/slider/Arrow.astro'
---

<div class="mpp-banners">
    <div class="mpp-banners-wrap container">
        <section class="mpp-main-slider mpp-main-slider-desktop splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {
                        mainSliderData?.map( (item, index) =>
                            <li class="mpp-main-slide-item splide__slide" data-number={index}>
                                <a class="mpp-main-slide-item-link-block" href={item.linkButton}>
                                    <img loading="lazy" src={item.srcDesktop} alt="" />
                                    <div class="mpp-main-slide-item__body" set:html={item.body}>
                                        <span class="btn btn-mobile">{item.labelButton}</span>
                                    </div>
                                    
                                </a>
                            </li>
                        )
                    }
              </ul>
            </div>
            <div class="splide__arrows mpp-navigation-arrows">
                <button class="splide__arrow splide__arrow--prev mpp-navigation-arrow mpp-navigation-arrow-left mpp-navigation-arrow-left--blocked">
                    <Arrow />
                </button>
                <div class="mpp-navigation-count">
                    <span class="mpp-navigation-count__current">1</span> / {mainSliderData.length}
                </div>
                <button class="splide__arrow splide__arrow--next mpp-navigation-arrow mpp-navigation-arrow-right">
                    <Arrow />
                </button>
            </div>
        </section>
        <section class="mpp-main-slider mpp-main-slider-mobile splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {
                        mainSliderData?.map( (item, index) =>
                            <li class="mpp-main-slide-item splide__slide" data-number={index}>
                                <a class="mpp-main-slide-item-link-block" href={item.linkButton}>
                                    <img loading="lazy" src={item.srcDesktop} alt="" />
                                    <div class="mpp-main-slide-item__body" set:html={item.body}>
                                        <span class="btn btn-mobile">{item.labelButton}</span>
                                    </div>
                                    
                                </a>
                            </li>
                        )
                    }
                    {
                        sideBannersData?.map( (item, index) =>
                            <li class="mpp-main-slide-item splide__slide" data-number={index}>
                                <a class="mpp-main-slide-item-link-block" href={item.linkButton}>
                                    <img src={item.srcDesktop} alt="" />
                                    <div class="mpp-main-slide-item__body" set:html={item.body}>
                                        <span class="btn btn-mobile">{item.labelButton}</span>
                                    </div>
                                    
                                </a>
                            </li>
                        )
                    }
              </ul>
            </div>
        </section>
        {
            sideBannersData?.map( (item, index) =>
                <a href={item.linkButton} class="mpp-side-banner" data-index={index+1}>
                    <img src={item.srcDesktop} alt="" />
                    <div class="mpp-side-banner__body" set:html={item.body} />
                </a>
            )
        }        
    </div>

</div>

<script>

    const counter = document.querySelector('.mpp-navigation-count__current');
    window.onload = () => {
      const mainSliderDesktop = new Splide('.mpp-main-slider-desktop', {
        type: 'fade',
        rewind: true,
        arrows: true,
        autoplay: true,
        interval: 4000,
        pauseOnHover: false,
        lazyLoad: 'nearby',
        classes: {
        }
      }).mount();

      const mainSliderMobile = new Splide('.mpp-main-slider-mobile', {
        type: 'fade',
        rewind: true,
        arrows: false,
        autoplay: false,
        interval: 4000,
        pauseOnHover: false,
        lazyLoad: 'nearby',
        classes: {
        }
      }).mount();

      mainSliderDesktop.on('moved', event => {
        counter.innerHTML = event + 1;
    });
    }
  </script>

<style scoped lang="scss">
    .mpp-banners {
        padding: 1.5rem 0 2rem;
        @media (min-width: 768px) {
            padding: .5rem 0 2rem;
        }
    }
    .mpp-banners-wrap {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-areas: "m s1" "m s2";
            grid-gap: 1.25rem 1.625rem;
        }
    }
    .mpp-side-banner {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        &[data-index="1"] {
            grid-area: s1
        }
        &[data-index="2"] {
            grid-area: s2;
        }
        & img {
            object-fit: cover;
            height: 100%;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    .mpp-side-banner__body {
        position: absolute;
        top: 2em;
        left: 2em;
        right: 2em;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.5;
        
    }
    .mpp-main-slider.mpp-main-slider {
        grid-area: m;
        height: 100%;
    }

    .mpp-main-slider.mpp-main-slider-desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }
    .mpp-main-slider-mobile {
        @media (min-width: 768px) {
            display: none;
        }
    }
    .mpp-main-slide-item {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .4;
            @media (min-width: 768px) {
                background: linear-gradient(180deg, #fff 0%, #fff 70%, #000000 100%);
                mix-blend-mode: multiply;
            }
        }

        & img {
            object-fit: cover;
            width: 100%;
            min-height: 350px;
            @media (min-width: 768px) {
                min-height: 100%;
            }
            
        }
    }
    .splide__pagination {
        display: none;
    }

    .mpp-main-slide-item__body {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        color: #000000;
        right: 2rem;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        height: 100%;
        justify-content: space-between;
        @media (min-width: 768px) {
            justify-content: flex-end;
            align-items: flex-start;
        }
        & .btn {
            order: 2;
            @media (min-width: 768px) {
                display: none;
            }
            
        }
    }
    .mpp-navigation-arrows {
        display: flex;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0.5em 0 0;
        gap: 0.7em;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .mpp-navigation-count {
        font-size: .875rem;
        font-weight: 500;
    }

    .mpp-navigation-arrow {
        border: none;
        background: transparent;
        position: static;
        transform: translateY(0);
    }
    .mpp-navigation-arrow-left {

    }

    .mpp-main-slide-item-link-block {
        display: block;
        height: 100%;
    }
</style>
<style  lang="scss">
    .mpp-main-slider .splide__pagination {
        @media (min-width: 768px) {
            display: none;
        }
        
    }
    .mpp-main-slider .splide__track {
        height: 100%;
    }
    .mpp-main-slider .splide__list {
        height: 100%;
    }
</style>